:root {
    /* CTAs Focused Active states Links */
    --primary-brand-color: #4D5AE5;
    /* pressed state */
    --pressed-state: #404BBF;
    /*Overlays Shadows Headings*/
    --dark: #2E2F42;
    /* Valid fields Success messages */
    --success: #31D0AA;
    /*Body text*/
    --body-text-color: #434455;
    /* Helper text Deemphasized text */
    --Subtle Text: #8E8F99;
    /* Accent */
    /* cornflower */
    --Accent: #E7E9FC;
    /* Light */
    /* CLOUD */
    --light: #F4F4FD;
    /* LIGHT SLATE */
    --light-slate: #8E8F99;
    /* success */
    --success: #31D0AA;
    /* white */
    --white: #ffffff;
    /* universal margin 24px */
    --uni-gap: 24px;
    /* margin sections */
    --section-gap: 120px;
    /* padding 72 */
    --uni-padding: 72px;
    /* cubic-bezier */
    --cubic: cubic-bezier(0.4, 0, 0.2, 1).;
    /* time */
    --time: 250ms;
}

body {
    font-family: 'Roboto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--body-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background: var(--white);
}

.list {
    list-style: none;
}

.btn {
    cursor: pointer;
    border: none;
}

.link {
    text-decoration: none;
}

.container {
    /* width: 100%; */
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1128px) {
    .container {
        width: 1158px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    padding: 0;
    margin: 0;
}

.section {
    padding-top: 96px;

}

@media screen and (min-width: 1128px) {
    .section {
        padding-top: var(--section-gap);
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.icon {
    display: block;
}

/* logo */
.logo {
    display: inline-block;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.3;
    color: var(--primary-brand-color);
    text-transform: uppercase;
    letter-spacing: 0.03em;

}

.logo.span {
    color: var(--dark);
    padding-top: var(--uni-gap);
    padding-bottom: var(--uni-gap);
}

/* header */
.head {
    border-bottom: 1px solid var(--Accent);
}

.header {
    align-items: center;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-nav {
    text-align: left;
}

.nav {
    position: relative;
    display: block;

    font-weight: 700;
    font-size: 36px;
    line-height: 0.9;

    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--dark);


    padding-top: var(--uni-gap);
    padding-bottom: var(--uni-gap);

    transition-property: color;
    transition-duration: var(--time);
    transition-timing-function: var(--cubic);
}

.hamburger-menu {
    display: inline-flex;
    margin: 0;
    padding: 8;
    background-color: transparent;
    color: var(--dark);
}

.menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
}

@media (max-width: 767px) {
    .menu {
        display: none;
    }
}

.menu .link {
    padding: 10px;
    color: inherit;
    text-decoration: none;
}

.menu .link:hover,
.menu .link:focus {
    text-decoration: underline;
}

.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}


@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top: 40px;
    background-color: var(--white);
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
}

.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.mobile-menu .link {
    display: block;
    padding: 40px;
    color: var(--dark);
    text-decoration: none;
}

/* media for header - 768px */

@media screen and (min-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-nav {
        display: flex;
        align-items: center;
    }

    .site-nav {
        display: flex;
        margin-left: 76px;
        gap: 40px;
    }

    .nav {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
    }

    .nav.active {
        color: var(--primary-brand-color);
    }

    .nav.active::after {
        content: '';
        position: absolute;

        left: 0px;
        bottom: -1px;

        width: 100%;
        height: 4px;
        background-color: var(--primary-brand-color);
        border-radius: 2px;
    }

    /* .site-nav .item+.item,
    .header-address .item+.item {
        margin-left: 40px;
    } */

    /* .header-address {
        display: flex;
    } */

    .header-address {
        padding-top: var(--uni-gap);
        padding-right: 16px;
    }

    .header-address .info {
        font-size: 12px;
        line-height: 1.3;
        letter-spacing: 0.04em;

        color: var(--body-text-color);
        display: block;
        /* padding-top: var(--uni-gap); */

        transition-property: color;
        transition-duration: var(--time);
        transition-timing-function: var(--cubic);
    }

}

/* end of media for header - 768 */


.nav:hover,
.nav:focus {
    color: var(--primary-brand-color);
}

.header-address {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
}

.info-tel {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    color: var(--primary-brand-color);
}

.info-email {
    display: block;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--dark);

    padding-top: 40px;
}

.header-address .info:hover,
.info:focus {
    color: var(--primary-brand-color);
}


.menu-icon-list {
    display: flex;
    justify-content: center;
    gap: 56px;
    margin-top: 48px;
}

@media screen and (min-width: 768px) {
    .menu-icon-list {
        display: none;
    }
}

/* hero */
.hero {
    background: var(--dark);
}

.hero-wrapper {
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-image: linear-gradient(0deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
        url('../images/group-people-working480.jpg');
    background-size: cover;
    text-align: center;
    padding-top: 112px;
    padding-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .hero-wrapper {
        padding-top: 112px;
        padding-bottom: 40px;
    }
}

@media screen and (min-width: 1200px) {
    .hero-wrapper {
        padding-top: 188px;
        padding-bottom: 188px;
    }
}

@media (min-resolution: 2dppx) {
    .hero-wrapper {
        background-image: linear-gradient(0deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
            url('../images/group-people-working480-2x.jpg');
    }
}


@media (min-width: 489px) {
    .hero-wrapper {
        background-image: linear-gradient(0deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
            url('../images/group-people-working768.jpg');
    }

    @media (min-resolution: 2dppx) {
        .hero-wrapper {
            background-image: linear-gradient(0deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
                url('../images/group-people-working768-2x.jpg');
        }
    }
}

@media (min-width: 769px) {
    .hero-wrapper {
        background-image: linear-gradient(0deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
            url('../images/group-people-working1200.jpg');
        max-width: 1440px;

    }

    @media (min-resolution: 2dppx) {
        .hero-wrapper {
            background-image: linear-gradient(0deg, rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%),
                url('../images/group-people-working1200-2x.jpg');
            background-position: center;

        }
    }
}

/* hero button */

.order {
    font-family: inherit;
    color: var(--white);
    background-color: var(--primary-brand-color);
    padding: 16px 32px;
    margin-top: 48px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    transition-property: background-color;
    transition-duration: var(--time);
    transition-timing-function: var(--cubic);
}

.order:hover,
.orfer:focus {
    background-color: var(--pressed-state);
}

/* h1 */
.hero-title {
    color: var(--white);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
    text-align: center;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .hero-title {
        font-size: 56px;
    }
}


/* h2 */
.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.1;
}

/* h3 */
.subtitle {
    color: var(--dark);
    font-weight: 500;
    line-height: 1.2;
}


/* section benefits */

.benefits {
    text-align: center;
}

@media screen and (min-width: 768px) {
    .benefits {
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1200px) {
    .benefits {
        flex-wrap: nowrap;
        text-align: left;
        gap: var(--uni-gap);
    }
}

.benefits-items {
    margin-bottom: 72px;
}

@media screen and (min-width: 768px) {
    .benefits-items {
        width: 50%;
    }
}

.benefits-sub {
    font-size: 36px;
    line-height: 1.1;
    margin-bottom: 8px;
}

@media screen and (min-width: 1200px) {
    .benefits-sub {
        font-size: 20px;
    }
}


.benefits-txt {
    font-weight: 500;
}

@media screen and (min-width: 1200px) {
    .benefits-txt {
        font-weight: 400;
    }
}

@media screen and (max-width: 1199px) {
    .bg-icon {
        display: none;
    }
}

@media screen and (max-width: 1200px) {
    .bg-icon {
        background-color: var(--Accent);
        border-radius: 4px;
        padding-top: var(--uni-gap);
        padding-bottom: var(--uni-gap);
        text-align: center;
        margin-bottom: 8px;
    }
}

/* section works */

.section.features {
    display: none;
}

@media screen and (min-width: 1200px) {
    .section.features {
        padding-bottom: var(--section-gap);
        display: block;
    }
}

.doing {
    text-align: center;
}

.works {
    display: flex;
    margin-top: var(--uni-padding);
}

.works .item+.item {
    margin-left: var(--uni-gap);
}

.item-pics {
    display: block;
}

/* section team list*/

.sec-team {
    background: var(--light);
}

.team-list {
    width: 100%;
    text-align: center;
    padding-bottom: var(--section-gap);

}

.team {
    width: 264px;
    margin-left: auto;
    margin-right: auto;
    margin-top: var(--uni-padding);
}

@media (min-width: 768px) {
    .team {
        width: 100%;
        display: flex;
        row-gap: 64px;
        column-gap: var(--uni-gap);
        flex-wrap: wrap;
        justify-content: center;
    }

}

.team .item {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 72px;
}

@media (min-width: 768px) {
    .team .item {
        margin-bottom: 0px;
    }
}

.team .item:last-child {
    margin-bottom: 0;
}

.team-card {
    background-color: var(--white);
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.team .txt {
    padding-top: 8px;
    padding-bottom: 8px;
}

.team-icon-list {
    display: flex;
    justify-content: center;
    gap: var(--uni-gap);
}

.team-icon {
    display: inline-block;
    padding: 12px;
    background-color: var(--primary-brand-color);
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: var(--time);
    transition-timing-function: var(--cubic);
}

.team-icon:hover,
.team-icon:focus {
    background-color: var(--pressed-state);
}

/* customers */

.section-customers {
    padding-bottom: var(--section-gap);
}

.clients {
    text-align: center;
}

.clients-list {
    display: flex;
    margin-top: var(--uni-padding);
    gap: var(--uni-gap);
    flex-wrap: wrap;
    justify-content: center;
}

.client-item {
    display: block;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    padding: 16px 31px;
    color: var(--light-slate);

    transition-property: color, border-color;
    transition-duration: var(--time);
    transition-timing-function: var(--cubic);
}

.client-item:hover,
.client-item:focus {
    border-color: var(--pressed-state);
    color: var(--pressed-state);
}

.client-icon {
    fill: currentColor;
}

/* portfolio */
.portfolio {
    padding-top: 96px;
    padding-bottom: var(--section-gap);
}

.filter {
    font-family: inherit;
    font-weight: 500;
    letter-spacing: 0.04em;

    display: flex;
    justify-content: center;
    margin-bottom: var(--uni-padding);
}

.filter .item+.item {
    margin-left: var(--uni-gap);
}

.filter .button {
    color: var(--primary-brand-color);
    background-color: var(--Accent);
    border-radius: 4px;
    padding: 12px 24px;

    transition-property: color, backgound-color, box-shadow, border-radius;
    transition-duration: var(--time);
    transition-timing-function: var(--cubic);
}

.filter .button-hover {
    border-radius: 4px;
    padding: 12px 24px;
    color: var(--white);
    background-color: var(--pressed-state);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

.filter .button:hover,
.filter .button:focus {
    color: var(--white);
    background-color: var(--pressed-state);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}

/* cards portfolio */

.card-set {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: var(--uni-gap);
    box-shadow: none;
}

.cards-block {
    display: block;
    transition-property: box-shadow;
    transition-duration: var(--time);
    transition-timing-function: var(--cubic);
}


.cards-block:hover,
.cards-block:focus {
    display: block;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.thumb-wrap {
    position: relative;
    overflow: hidden;
}

.thumb-wrap::before {
    content: "14 Stylish and User-Friendly App Design Concepts · Task Manager App · Calorie Tracker App · Exotic Fruit Ecommerce App · Cloud Storage App";
    position: absolute;

    width: 100%;
    height: 100%;
    background: var(--primary-brand-color);
    opacity: 0;

    padding-top: 40px;
    padding-left: 32px;
    padding-right: 32px;

    color: var(--white);

    transform: translateY(100%);

    transition-property: opacity, transform;
    transition-duration: var(--time);
    transition-timing-function: var(--cubic);
}

.cards-block:hover .thumb-wrap::before,
.cards-block:focus .thumb-wrap::before {
    opacity: 1;
    transform: translateY(0);
}

.card-thumbs {
    display: block;
    max-width: 100%;
}


.cards-text {
    color: var(--body-text-color);
    border: 1px solid var(--Accent);
    border-top: transparent;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    flex-direction: column;

}

.cards {
    color: var(--dark);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
}

/* footer */

.footer {
    background: var(--dark);
    color: var(--Accent);
    padding-bottom: 100px;
    padding-top: 100px;
}

.logo.footer-span {
    color: var(--light);
}

.footer-text {
    margin-top: 16px;
}

.footer-h3 {
    font-size: 16px;
    color: var(--white);
    margin-bottom: 16px;
}

.footer-block {
    display: block;
    text-align: center;
}

.footer-icons-items {
    padding-top: 72px;
}

@media (min-width: 768px) {
    .footer-block {
        display: flex;
        flex-wrap: wrap;
        text-align: left;
    }

    .footer-logo {
        margin-left: 120px;
    }

    .footer-icons-items {
        margin-left: var(--uni-gap);
        padding-top: 0;
    }

}

@media (min-width: 1200px) {
    .footer-block {
        display: flex;
        text-align: left;
    }

    .footer-icons-items {
        margin-left: 120pxx;
    }

    .footer-logo {
        margin-left: 50px;
    }
}

.foot-icon-list {
    justify-content: center;
    display: flex;
    gap: 16px;
    align-items: center;
}

.foot-icon {
    display: inline-block;
    padding: 8px;
    background-color: var(--body-text-color);
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: var(--time);
    transition-timing-function: var(--cubic);
}

.foot-icon:hover,
.foot-icon:focus {
    background-color: var(--success);
}

.footer-subscribe-items {
    padding-top: 72px;
}

@media (min-width: 768px) {
    .footer-subscribe-items {
        padding-left: 108px;
    }

}

@media (min-width: 1200px) {
    .footer-subscribe-items {
        margin-left: 80px;
        padding: 0;
    }

}

.subscribe {
    display: flex;
    flex-direction: column;
}

.subscribe-input {
    padding: 8px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--Accent);
}

.subscribe-input::placeholder {
    color: rgba(255, 255, 255, 0.6);

}

.subscribe-btn {
    width: 165px;
    display: flex;
    align-items: center;

    margin-left: auto;
    margin-right: auto;
    margin-top: 16px;
    padding: 0;
    padding-left: var(--uni-gap);
    letter-spacing: 0.04em;
    color: var(--white);
}

.subscribe-icon {
    padding: 8px 24px 8px 16px;
}

@media (min-width: 768px) {
    .subscribe {
        display: flex;
        flex-direction: row;
        gap: var(--uni-gap);
    }

    .subscribe-input {
        width: 264px;
    }

    .subscribe-btn {

        margin-top: 0;

    }
}

@media (min-width: 1200px) {
    .subscribe {
        display: flex;
        flex-direction: row;
        gap: var(--uni-gap);
    }

    .subscribe-input {
        width: 264px;
    }

    .subscribe-btn {

        margin-top: 0;

    }
}

/* modal  */

.backdrop {
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100%;
    height: 100%;
    background: rgba(46, 47, 66, 0.4);

    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition-property: opacity, transform, visibility;
    transition-duration: var(--time);
    transition-timing-function: var(--cubic);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: scale(0.8);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 408px;
    padding-top: 72px;
    padding-left: var(--uni-gap);
    padding-right: var(--uni-gap);
    padding-bottom: var(--uni-gap);

    background: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    text-align: center;
}

.close {
    position: absolute;
    top: var(--uni-gap);
    right: var(--uni-gap);
    /* display: inline-block; */

    padding: 8px;
    background: var(--Accent);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.close:hover,
.close:focus {
    background: var(--pressed-state);
    border: 1px solid var(--pressed-state);
    color: var(--white);
}



.modal-txt {
    font-style: normal;
    font-weight: 500;
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.5;

    letter-spacing: 0.02em;


}

.modal-form {
    margin-left: auto;
    margin-right: auto;
    width: 360px;
    text-align: center;
}

.form-field {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 8px;
    text-align: left;
}

.modal-label {
    margin-bottom: 4px;
    color: var(--light-slate);
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
}

.modal-input {
    padding-top: 11px;
    padding-bottom: 11px;
    padding-left: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;

    transition-property: border-color, color;
    transition-duration: var(--time);
    transition-timing-function: var(--cubic);
}

.modal-input:focus {
    border-color: var(--primary-brand-color);
}

.modal-input:focus+.form-icon {
    color: var(--primary-brand-color);
}

.form-icon {
    color: var(--dark);
    position: absolute;
    top: 50%;
    left: 16px;
}

.form-textarea {
    width: 100%;
    height: 120px;
    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    padding-left: 8px;
    padding-top: 8px;
    outline: none;

    transition-property: border-color;
    transition-duration: var(--time);
    transition-timing-function: var(--cubic);
}

.form-textarea:focus {
    border-color: var(--primary-brand-color);
}

.form-textarea::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
}

.form-field.policy {
    flex-direction: row;
    gap: 8px;
    margin-bottom: 0;
}

.policy-link {
    color: var(--primary-brand-color);
    text-decoration: underline;
}

.send {
    width: 169px;
    margin-top: 24px;
    padding: 16px 32px;
}

.checkbox {
    appearance: none;
    position: absolute;
}

.checkbox-input {
    display: inline-block;
    width: 16px;
    height: 16px;

    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.2)) drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.12)) drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14));
}

.checkbox:checked+.checkbox-input {
    background-color: var(--pressed-state);
    background-image: url(../images/check.svg);
    background-size: contain;
    background-origin: border-box;
    border-color: var(--pressed-state);
}